@page
@model Silownia.Pages.Komentarze.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Komentarz[0].Tresc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentarz[0].id_postu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Komentarz) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_postu)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
